.tab-account__filter-item {
   display: flex;
   align-items: center;
   p {
      font-family: 'Helvetica Neue';
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-transform: lowercase;
      margin: 0 7px 0 45px;
   }
   &:first-child {
      p {
         margin-left: 0;
      }
   }
}
.tab-account__filter-list {
   display: flex;
   align-items: center;
}
.modal-svg {
   border: none;
   background: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   &:focus, &:focus-visible, &:focus-within {
      border: none;
      background: none;
      outline: none;
   }
}