#mistake {
   padding: 196px 0 100px;
}
.mistake__title {
   width: 100%;
   max-width: 794px;
   font-family: 'Helvetica Neue';
   font-weight: bold;
   font-size: 40px;
   line-height: 49px;
   text-align: center;
   margin: 0 auto 73px;
}
.mistake__img {
   display: flex;
   justify-content: center;
   // svg {
   //    width: 100%;
   // }
}